
@{
    ViewBag.Title = Lexicon.AllDictionaries;
}

<h2>@Lexicon.AllDictionaries</h2>

<div ng-controller="AllDictionariesCtrl as vm">
    <async-page-with-loader is-loaded="vm.loaded">
        <div class="row">
            <div ng-repeat="dictionary in vm.publicDictionaries" class="col-md-4">
                <h2 ng-bind="dictionary.name"></h2>
                <p ng-bind="'@Lexicon.Description: ' + dictionary.description"></p>
                <p ng-bind = "'Languages. From ' + dictionary.fromLanguage + ' to ' + dictionary.toLanguage"></p>
                <p ng-bind="'Owner: ' + dictionary.ownerId"></p>
                <p>@Lexicon.CreationDate: {{dictionary.creationDate | date : "dd.MM.yyyy HH:mm"}}</p>
                <p>@Lexicon.LastChangedDate: {{dictionary.lastChangeDate | date : "dd.MM.yyyy HH:mm"}}</p>
                <a class="btn btn-default" ng-href="/Dictionaries/Dictionary/{{dictionary.id}}">@Lexicon.Review</a>
            </div>
        </div>
    </async-page-with-loader>
</div>


