@model Guid

@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="DictionaryCtrl as vm">
    <async-page-with-loader is-loaded="vm.loaded" ng-init="vm.init('@Model')">
        <h2>{{vm.dictionary.name}}</h2>
        <p>@Lexicon.Description: {{vm.dictionary.description != null ? vm.dictionary.description : '@Lexicon.NoDescription'}}</p>
        <p>@Lexicon.Languages: {{vm.dictionary.sourceLanguage}} — {{vm.dictionary.targetLanguage}}</p>
        <p ng-if="!vm.dictionary.isMyDictionary">@Lexicon.Owner: {{vm.dictionary.ownerId}}</p>
        <p>@Lexicon.CreationDate: {{vm.dictionary.creationDate | date : "dd.MM.yyyy HH:mm"}}</p>
        <p>@Lexicon.LastChangedDate: {{vm.dictionary.lastChangeDate | date : "dd.MM.yyyy HH:mm"}}</p>

        <div class="form-group">
            <input class="form-control" type="text" ng-model="vm.phrasesPair.firstPhrase.text" />
            <input class="form-control" type="text" ng-model="vm.phrasesPair.secondPhrase.text" />
            <button class="btn btn-primary" ng-click="vm.createPhrasesPair()">Save</button>
        </div>

        <div ng-repeat="phrasesPair in vm.dictionary.phrasesPairs">
            {{phrasesPair.firstPhrase.text}} --- {{phrasesPair.secondPhrase.text}}
        </div>
    </async-page-with-loader>
</div>

