@model Guid

@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="DictionaryCtrl as vm">
    <async-page-with-loader is-loaded="vm.loaded" ng-init="vm.init('@Model')">
        <h2>{{vm.dictionary.name}}</h2>
        <p>@Lexicon.Description: {{vm.dictionary.description != null ? vm.dictionary.description : '@Lexicon.NoDescription'}}</p>
        <p>@Lexicon.Languages: {{vm.dictionary.sourceLanguage}} — {{vm.dictionary.targetLanguage}}</p>
        <p ng-if="!vm.dictionary.isMyDictionary">@Lexicon.Owner: {{vm.dictionary.ownerId}}</p>
        <p>@Lexicon.CreationDate: {{vm.dictionary.creationDate | date : "dd.MM.yyyy HH:mm"}}</p>
        <p>@Lexicon.LastChangedDate: {{vm.dictionary.lastChangeDate | date : "dd.MM.yyyy HH:mm"}}</p>

        <div ng-if="vm.dictionary.phrasesPairs.length != 0">
            <h3>Phrases</h3>
            <editable-dictionary-phrases-pairs-table ng-model="vm.dictionary"
                                                        create-phrases-pair-promise="vm.createPhrasesPair"
                                                        edit-phrases-pair-promise="vm.editPhrasesPair"
                                                        remove-phrases-pair-promise="vm.deletePhrasePair"
                                                        filter-pairs-promise="vm.getDictionaryWithFilteredPhrasesPairs"
                                                        enable-editing="vm.dictionary.isMyDictionary">
            </editable-dictionary-phrases-pairs-table>
        </div>

    </async-page-with-loader>
</div>

