
@{
    ViewBag.Title = Lexicon.MyDictionaries;
}

<h2>@Lexicon.MyDictionaries</h2>

<div ng-controller="MyDictionariesCtrl as vm">
    <button class="btn btn-primary" style="margin-bottom: 20px" ng-click="vm.createDictionary()">@Lexicon.CreateNewDictionary</button>
    <async-page-with-loader is-loaded="vm.loaded">
        <div class="row">
            <div ng-repeat="dictionary in vm.myDictionaries" class="col-md-4">
                <h2>{{dictionary.name}}</h2>
                <p>@Lexicon.Description: {{dictionary.description != null ? dictionary.description : '@Lexicon.NoDescription'}}</p>
                <p>@Lexicon.Languages: {{dictionary.sourceLanguage}} — {{dictionary.targetLanguage}}</p>
                <p>@Lexicon.IsPublic: {{dictionary.isPublic ? '@Lexicon.Yes' : '@Lexicon.No'}}</p>
                <p>@Lexicon.CreationDate: {{dictionary.creationDate | date : "dd.MM.yyyy HH:mm"}}</p>
                <p>@Lexicon.LastChangedDate: {{dictionary.lastChangeDate | date : "dd.MM.yyyy HH:mm"}}</p>
                <a class="btn btn-default" ng-href="/Dictionaries/Dictionary/{{dictionary.id}}">@Lexicon.Review</a>
                <button class="btn btn-default" ng-click="vm.editDictionary(dictionary)">@Lexicon.Edit</button>
                <button class="btn btn-danger" ng-click="vm.removeDictionary(dictionary.id)">@Lexicon.Remove</button>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="dictionary in vm.myDictionaries">
                <dictionary-item ng-model="dictionary"></dictionary-item>
            </div>
        </div>
    </async-page-with-loader>
</div>


