@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin: 10px">
    <h1>Online Dictionary</h1>
    <p class="lead">@Lexicon.SiteDescription</p>
</div>

<div ng-controller="TranslateCtrl as vm">
    <div class="row">
        <input type="text" class="form-control col-md-4">
        <select class="form-control col-md-3">
            @foreach (var item in OnlineDictionary.Helpers.OnlineDictionarySelectLists.Languages)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <select class="form-control col-md-3">
            @foreach (var item in OnlineDictionary.Helpers.OnlineDictionarySelectLists.Languages)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary col-md-1">Translate</button>
            <button type="button" class="btn btn-primary col-md-1">Clear</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find translate to phrase</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download users' dictionaries</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create your dictionary</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>
