@model OnlineDictionary.ViewModels.EditUserInfoViewModel
@{
    ViewBag.Title = Lexicon.AccountManagement;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Lexicon.ChangeYourPersonalAccountSettings</h4>
    <hr />
    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BirthDate, "{0:dd'/'MM'/'yyyy}", new { @class = "form-control datepicker", @data_provide = "datepicker", @data_date_format = "dd/mm/yyyy", @data_date_autoclose = "true", @data_date_language = @ViewBag.Culture })
                @Html.ValidationMessageFor(m => m.BirthDate, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Country, OnlineDictionary.Helpers.OnlineDictionarySelectLists.Countries, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Country, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Language, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Language, OnlineDictionary.Helpers.OnlineDictionarySelectLists.AvailableLanguages, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Language, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" ng-click="" class="btn btn-default">@Lexicon.Save</button>
            </div>
        </div>
    }
</div>
<div>
    <p>
        @Lexicon.Password:
        @if (Model.HasPassword)
        {
            @Html.ActionLink(Lexicon.ChangeYourPassword, "ChangePassword")
        }
        else
        {
            @Html.ActionLink(Lexicon.Create, "SetPassword")
        }
    </p>
</div>

@Scripts.Render("~/bundles/momentjs")
