
@{
    ViewBag.Title = Lexicon.Translate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Lexicon.Translate</h2>

<div class="modal-body" ng-controller="TranslateCtrl as vm">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">@Lexicon.Phrase</label>
            <div class="col-md-8">
                <input class="form-control" ng-model="vm.phrase.text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Lexicon.SourceLanguage</label>
            <div class="col-md-8">
                <select class="form-control" ng-model="vm.phrase.sourceLanguage">
                    @foreach (var item in OnlineDictionary.Helpers.OnlineDictionarySelectLists.Languages)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Lexicon.TargetLanguage</label>
            <div class="col-md-8">
                <select class="form-control" ng-model="vm.phrase.targetLanguage">
                    @foreach (var item in OnlineDictionary.Helpers.OnlineDictionarySelectLists.Languages)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-group">
                <label class="control-label col-md-2">@Lexicon.LookThroughTheOwnPhrases</label>
                <div class="col-md-1">
                    <input class="checkbox" type="checkbox" ng-model="vm.phrase.lookThroughTheOwnPhrases" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-offset-2">
        <button class="btn btn-primary" ng-click="vm.translate()" ng-disabled="!vm.phrase.text">@Lexicon.Translate</button>
        <button class="btn btn-default" ng-click="vm.clear()">@Lexicon.ClearUp</button>
    </div>

    <async-page-with-loader is-loaded="vm.loaded" style="margin-top: 20px">
        <table class="table table-striped table-bordered table-hover table-with-centered-content" ng-show="vm.translateResults">
            <thead>
                <tr>
                    <th>#</th>
                    <th>source phrase</th>
                    <th>source lang</th>
                    <th>translate</th>
                    <th>translate lang</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="res in vm.translateResults">
                    <td>{{$index + 1}}</td>
                    <td>{{res.sourceText}}</td>
                    <td>{{res.sourceLang}}</td>
                    <td>{{res.targetText}}</td>
                    <td>{{res.targetLang}}</td>
                </tr>
            </tbody>
        </table>
    </async-page-with-loader>
</div>

